<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>TODOs List</title>
</head>
<style>
    .abc{
           background-color: antiquewhite;
    }
</style>
<body> 
    
    

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
  
        <div class="abc">
          <div class="abc"></div><div class="abc">
            <nav class="navbar navbar-expand-lg navbar-red bg-red " style="background-color: red';">
                <a class="navbar-brand" href="#" style="font-weight: bolder; font-family: Arial, Helvetica, sans-serif;"><%=product[0].Title%></a>
                <button class="navbar-toggler btn btn-danger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span><h7 style="color: red;">Menu</h7></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                
                    <li class="nav-item">
                      <a class="nav-link" href="/customer">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown" >
                      <a class="nav-link dropdown-toggle" " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/abc">Add Rooms</a>
                        <a class="dropdown-item" onclick="" href="/mybookings">My Bookings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/login">LOG_OUT</a>
                      </div>
                    </li>
                
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav></div></div>
        <section class="vh-100" style="background-color:cadetblue;">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-12 col-xl-4">
        
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body text-center">
                    <div class="mt-3 mb-4">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                        class="rounded-circle img-fluid" style="width: 100px;" />
                    </div>
                    <h4 class="mb-2"><%=product[0].C1NAME%></h4>
                    <p class="text-muted mb-4"><%=product[0].C1CONTACT%>   <span class="mx-2">|</span> <a
                        href="#!"><%=product[0].C1PROOF%></a></p>
                    <div class="mb-4 pb-2">
                   <p>Shared with:<%=product[0].C2NAME%> </p>
                   <p>ID :<%=product[0].C2PROOF%> | <%=product[0].C2CONTACT%> </p>
                 
                  <p ><button type="button" onclick="run(<%=product[0].TIMESTAMP%>)" class="btn btn-primary btn-rounded btn-lg">
                    
                  </button><span id="TIMESTAMP">  :: show time</span></p>
                    
                  <div class="form-row">
                    <div class="form-group col-md-4 mx-4">
                    
                      <button type="button" onclick="checkout(<%=product[0].id%>)" class="btn btn-success btn-rounded btn-lg">Checkout</button>
                    </div>
                  
                    <div class="form-group col-md-5 mx-1 ">
                    
                      <a href="/mybookings"><button type="button" class="btn btn-danger btn-rounded btn-lg">Back</button></a>
                    </div></div>
                    </div>
                  
                 
                      <!-- <div class="px-3">
                        <p class="mb-2 h5">Timeleft:</p>
                      
                      </div> -->
                      <!-- <div>
                        <p class="mb-2 h5">4751</p>
                        <button type="button" class="btn btn-danger btn-rounded btn-lg">back</button>
                      </div> -->
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
          </div>
        </section>
        
        
        <script>

 function checkout(id1){
  if(confirm("Are you sure to checkout...?")){
    window.location.href="/resetbooking?id1=" +id1;
  }
 }
function run(a){
      console.log(a);
     countdown= Number(a);
      var x = setInterval(function() {

// Get today's date and time
var now = new Date().getTime();

// Find the distance between now and the count down date
var distance = countdown - now;

// Time calculations for days, hours, minutes and seconds
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);
;
// Display the result in the element with id="demo"
document.getElementById('TIMESTAMP').innerHTML = days + "d " + hours + "h "
+ minutes + "m " + seconds + "s ";

// If the count down is finished, write some text
if (distance < 0) {
  clearInterval(x);
  window.location.href="/resetbooking?id1=" +id1;
}
}, 1000);


    }
        </script>
        
        </body>
        </head>
        </html>