<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <style>
       .abc{
           background-color: antiquewhite;
    }
  .container{
    width: 100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;

  }
  .card{
    margin: 10px ;
    width: 8cm;
    height: 12cm;
    border: 2px solid whitesmoke;
    transition: .5s;
    text-align: center;
    box-shadow: 2px snow;



  }
  .card:hover{
    transform: scale(1.1);
    z-index: 2;
  }
  .image{
    height:50%;
  }
  .card-body{
    height: 50%;
  }
  </style>
  <body style="background-color: cadetblue;">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div class="abc"></div><div class="abc">
      <nav class="navbar navbar-expand-lg navbar-red bg-red " style="background-color: red';">
          <a class="navbar-brand" href="#" style="font-weight: bolder; font-family: Arial, Helvetica, sans-serif;"><%=products[0].Title%></a>
          <button class="navbar-toggler btn btn-danger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span><h7 style="color: red;">Menu</h7></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
          
              <li class="nav-item">
                <a class="nav-link" href="/customer">Dashboard</a>
              </li>
              <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/abc">Add Rooms</a>
                  <a class="dropdown-item" onclick="" href="/mybookings">My Bookings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/login">LOG_OUT</a>
                </div>
              </li>
          
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav></div>

      <div class ="container" id="123">
        <%products.forEach((product)=>{ %>
      <div class="card shadow">


      <div class="image">
          <img class="card-img-top" style="height: 90%;" src="data:image/png;base64,<%=product.imgHere %>" alt="Card image cap"></div>
          <div class="card-body">
       
            <p id="<%=product.TIMESTAMP%>">
       
            
            <p class="card-text">BOOKED BY :<%=product.C1NAME%></p>
            <p class="card-text">CONTACT :<%=product.C1CONTACT%></p>
            <p class="card-text">ROOMNO: <%=product.RoomNo%></p>
            
            <a href="#" class="btn btn-primary" onclick="remove(<%=product.RoomNo%>)">Details</a>

        </div>
      </div>


    
      <%} )%>


     
    
    
        
  
    </div>

       

        
      </div>
  </body>
  <script>
     function remove(a){
    
    var id1=a;

window.location.href="/userdetails?id1=" +id1;



}




  </script>
</html>




